node_modules
dist
.DS_Store
*.log
pnpm-lock.yaml
yarn.lock
*.local
*.env
*.env.local
*.env.production
*.env.development
.idea
.vscode
test_predict_client.py
# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.db
*.sqlite